// COLORS //
$primaryColor: #30638e;
$darkColor: #2a2726;
$lightColor: #f4f4f4;
$redColor: #bb4958;
$pinkColor: #ef476f;
$blueColor: #003d5b;
$skyColor: #86bbd8;
$orangeColor: #f49d37;
$successGreen: #35aea2;

// FONT FAMILY //
$primaryFont: 'Roboto', sans-serif;

// FONT SIZES //
$extraSmallFont: 0.75em;
$smallFont: 0.875em;
$normalFont: 1em;
$largeFont: 1.125em;
$extraLargeFont: 1.25em;