// COLORS //
$primaryColor: #F58800;
$secondaryColor: #1A4645;
$lightColor: #FAFAFA;
$darkColor: #051821;
$redColor: #EA4335;
$blueColor: #2D9CDB;

// FONT FAMILY //
$primaryFont: 'Ubuntu', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$logoFont: 'Montserrat Alternates', sans-serif;

// FONT SIZES //
$extraSmallFont: 0.75em;
$smallFont: 0.875em;
$normalFont: 1em;
$largeFont: 1.125em;
$extraLargeFont: 1.25em;