@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;

.ellipse {
  background-color: #f58800;
  height: 90vh;
  width: 100%;
  border-bottom-right-radius: 80% 100%;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  font-size: 24px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  --tw-bg-opacity: 0.8;
}

hr {
  border: none;
  border-bottom: 3px double #fafafa;
  color: #fafafa;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: transparent;
  content: '';
  padding: 0 45px;
  position: relative;
}

.MuiButtonBase-root.MuiPaginationItem-root {
  color: #fafafa;
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: bold;
  font-size: 20px;
}

.MuiButtonBase-root.MuiPaginationItem-root:hover,
.MuiButtonBase-root.MuiPaginationItem-root.Mui-selected {
  background-color: #669695;
}

.favorites-pagination .Mui-selected,
.favorites-pagination .MuiPaginationItem-root:hover {
  color: #fafafa !important;
  background-color: #1a4645 !important;
}

.favorites-pagination .MuiPaginationItem-root {
  color: #1a4645;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  height: 64px !important;
  border-radius: 0.5rem;
  font-family: Raleway, sans-serif;
  padding-right: 1.25rem;
}

.MuiInputBase-input.MuiOutlinedInput-input {
  padding-left: 1.25rem;
}

.MuiInputBase-input.MuiOutlinedInput-input:focus {
  outline: 10px #f58800 !important;
}
