@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&family=Ubuntu&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

.ellipse {
        background-color: #F58800;
        height: 90vh;
        width: 100%;
        border-bottom-right-radius: 80% 100%;
}

.button {
        font-family:'Ubuntu', sans-serif;
        font-weight: bold;
        border-radius: 6px;
        padding: 5px 8px 5px 8px;
        font-size: 24px;
}